@import "../../partials/variables";

$breakpoint-tablet: 1350px;
$breakpoint-mobile: 950px;


///////////////
// Docs Body //
///////////////

$docs-sidebar-width: 225px;
$docs-sidebar-space: 100px;
$docs-center-width: 650px;

.docs-body-container {
  display: flex;
  flex-direction: row;
  justify-content: center;

  padding-top: 64px;

  @media (max-width: $breakpoint-tablet) {
    padding-top: 32px;
  }

  @media (max-width: $breakpoint-mobile) {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    padding-top: 0px;
  }
}

.docs-body-left {
  margin: 0;
  margin-right: $docs-sidebar-space;
  width: $docs-sidebar-width;

  @media (max-width: $breakpoint-tablet) {
    margin-right: calc($docs-sidebar-space / 2);
  }

  @media (max-width: $breakpoint-mobile) {
    margin-right: 0;
    width: 100%;
  }
}

@import "./docs-nav";

.docs-body-center {
  width: $docs-center-width;
  box-sizing: border-box;
  
  @media (max-width: $breakpoint-mobile) {
    width: $docs-center-width + 2 * $spacing-24;
    max-width: 100%;
    padding: $spacing-24;
  }

  h1 {
    margin: 0;
    margin-bottom: 20px;
    padding: 0;

    color: $color-text-heading;
    font-family: $font-family;
    font-weight: $font-weight-bold;
    font-size: $font-size-48;
    line-height: 1.3;

    font-style: normal;

    @media (max-width: $breakpoint-mobile) {
      font-size: $font-size-30;
    }
  }
}

.docs-body-right {
  margin: 0;
  margin-left: $docs-sidebar-space;
  width: $docs-sidebar-width;

  @media (max-width: $breakpoint-tablet) {
    display: none;
  }

  // nav {
  //   position: sticky;
  //   top: 50px;
  //   max-height: calc(100vh - 50px);
  // }

  h2 {
    margin: $spacing-16 0;
    margin-bottom: $spacing-32;

    color: $color-text-heading;
    font-family: $font-family;
    font-size: $font-size-16;
    font-weight: $font-weight-medium;
    letter-spacing: 1px;
  }

  ol {
    list-style: disc;
    color: $color-primary;
    margin: 0;
    padding: 0;
    padding-left: $spacing-16;
  }

  a {
    display: block;
    margin: $spacing-16 0;
    color: $color-text-body;
    text-decoration: none;

    font-family: $font-family;
    font-size: $font-size-16;
    font-weight: $font-weight-regular;

    &:hover {
      color: $color-text-heading;
    }
  }
}
