<footer class="footer">

  <div class="blocks">
    <div class="block">
      <h2>Legal</h2>
      <ul>
        <li><a href="/src/legal/terms-of-service-agreement.html">Terms of Service</a></li>
        <li><a href="/src/legal/data-processing-agreement.html">Data Processing</a></li>
        <li><a href="/src/legal/privacy-policy.html">Privacy Policy</a></li>
        <li><a href="/src/pricing.html">Pricing</a></li>
      </ul>
    </div>
    <div class="block">
      <h2>Social</h2>
      <ul>
        <li><a href="https://discord.gg/XV696Tp">Discord</a></li>
        <li><a href="https://www.linkedin.com/in/jiri-mayer/">LinkedIn</a></li>
        <li><a href="https://www.facebook.com/UnisaveCloud/">Facebook</a></li>
        <li><a href="https://www.youtube.com/channel/UCRTZZ9ZZzQEX0LSniz_vcSA">Youtube</a></li>
        <li><a href="https://github.com/unisave-cloud">Github</a></li>
      </ul>
    </div>
    <div class="block">
      <h2>Other</h2>
      <ul>
        <li><a href="/guides">Guides</a></li>
        <li><a href="/docs/installation">Documentation</a></li>
        <li><a href="https://assetstore.unity.com/packages/slug/142705">Asset</a></li>
        <li><a href="/app">App</a></li>
      </ul>
    </div>
    <div class="block">
      <h2>Contact</h2>
      <ul>
        <li>
          Vítězství 217<br>
          Slatiňany 538 21<br>
          Czech Republic
        </li>
        <li>
          <a href="mailto:info@unisave.cloud">info@unisave.cloud</a>
        </li>
        <li>
          <a href="tel:+420604112523">+420 604 112 523</a>
        </li>
      </ul>
    </div>
  </div>

  <div class="copyright">
    <img src="/src/partials/footer/logo.svg" alt="Unisave">
    Copyright © 2020 - 2025 Jiří&nbsp;Mayer, IN&nbsp;06861814&nbsp;(CZ)
  </div>
</footer>