@import "./_variables.scss";

@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');

body {
  margin: 0;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

.container-padded {
  @extend .container;
  padding: 0 20px;
}