@import "./_variables.scss";

/*
    Style definitions for textual content (.content)
    ------------------------------------------------
*/

.content {

  font-family: $font-family;

  p {
    margin: 0;
    margin-bottom: 1em;

    line-height: 1.5;

    color: $color-text-body;
    font-family: $font-family;
    font-weight: $font-weight-regular;
    font-size: $font-size-16;
  }

}