@import "./_variables.scss";

/*
    Style definitions for markdown content (.markdown)
    ------------------------------------------------
*/

$breakpoint-heading-hashes: 740px;

.markdown {

  font-family: $font-family;
  color: $color-text-body;
  font-weight: $font-weight-regular;
  overflow-wrap: break-word; // break words that are longer than the screen

  & *::selection {
    background: $color-primary-light;
  }

  p {
    margin: 0;
    margin-bottom: $spacing-16;

    line-height: 1.55;

    color: $color-text-body;
    font-family: $font-family;
    font-weight: $font-weight-regular;
    font-size: $font-size-16;
  }

  a {
    color: $color-primary;
    text-underline-offset: 0.3em;

    &:hover {
      color: $color-primary-light;
    }
  }

  code {
    padding: 0.1em 0.2em;
    background: $color-gray-50;
    font-family: $font-family-code;
    border-radius: 3px;
  }

  // pre
  @import "./_code-styling.scss";

  blockquote {
    margin: 0;
    margin-bottom: $spacing-16;
    padding: $spacing-16 $spacing-32;
    
    background: $color-gray-50;

    border-radius: 3px;

    p {
      margin: 0;
    }
  }

  ul, ol {
    padding-left: $spacing-32;
  }

  li {
    margin: 0;
    margin-bottom: $spacing-4;

    line-height: 1.55;

    color: $color-text-body;
    font-family: $font-family;
    font-weight: $font-weight-regular;
    font-size: $font-size-16;

    &::marker {
      color: $color-primary;
    }
  }

  img {
    display: block;
    height: auto;
    max-width: 100%;
    margin-bottom: $spacing-16;
    border-radius: 3px;

    // if the image is too white and fades in with the rest of the page
    // (needed for UI screenshots)
    &.with-border {
      border: 1px solid #e8e8e8;
    }
  }

  // H1 should not be used inside article bodies
  h1 {
    &:before {
      color: red;
      background: black;
      content: "Dont use H1 inside articles!";
      margin-right: 10px;
      padding: 5px 20px;
    }
  }

  h2 {
    margin: $spacing-48 0 $spacing-32 0;
    color: $color-text-heading;
    font-family: $font-family;
    font-weight: $font-weight-regular;
    font-size: $font-size-30;
  }

  h3 {
    margin: $spacing-24 0 $spacing-24 0;
    color: $color-text-heading;
    font-family: $font-family;
    font-weight: $font-weight-bold;
    font-size: $font-size-24;
  }

  h4 {
    margin: $spacing-24 0 $spacing-8 0;
    color: $color-text-heading;
    font-family: $font-family;
    font-weight: $font-weight-bold;
    font-size: $font-size-18;
  }

  h5 {
    margin: $spacing-24 0 $spacing-8 0;
    color: $color-text-heading;
    font-family: $font-family;
    font-weight: $font-weight-medium;
    font-size: $font-size-16;
  }

  h6 {
    margin: $spacing-24 0 $spacing-8 0;
    color: $color-text-heading;
    font-family: $font-family;
    font-weight: $font-weight-medium;
    font-size: $font-size-12;
  }

  // header link behaviour
  h2, h3, h4 {
    a {
      color: inherit;
      text-decoration: inherit;

      &:before {
        content: "#";
        position: absolute;
        margin-left: -1em;
        color: $color-primary-light;
        font-weight: $font-weight-regular;

        @media (max-width: $breakpoint-heading-hashes) {
          display: none;
        }
      }

      &:hover {
        color: $color-text-over-primary;

        &:before {
          color: $color-primary;
        }
      }
    }
  }

}