@import "../../partials/variables";

$breakpoint-tablet: 1350px;
$breakpoint-mobile: 950px;


////////////////
// Guide Hero //
////////////////

.guide-hero {
  position: relative;
  padding: 100px 0;
  margin: 0 auto;
  max-width: 864px;

  text-align: center;

  @media (max-width: $breakpoint-mobile) {
    padding: $spacing-32 $spacing-24 $spacing-16 $spacing-24;
    margin-bottom: $spacing-32;

    background: $color-gray-50;
  }

  h1 {
    margin: 0;
    margin-bottom: 20px;
    padding: 0;

    color: $color-text-heading;
    font-family: $font-family;
    font-weight: $font-weight-bold;
    font-size: $font-size-58;
    line-height: 1.3;

    @media (max-width: $breakpoint-mobile) {
      font-size: $font-size-24;
    }

    em {
      font-style: normal;
      text-decoration: underline;
      text-decoration-color: $color-primary;
      text-underline-offset: 10px;
      text-decoration-thickness: 5px;

      @media (max-width: $breakpoint-mobile) {
        text-underline-offset: 5px;
        text-decoration-thickness: 2px;
      }
    }
  }
}

.guide-author, .guide-dates {
  margin: 0;
  margin-bottom: 10px;

  color: $color-text-body;
  font-family: $font-family;
  font-weight: $font-weight-regular;
  font-size: $font-size-16;

  @media (max-width: $breakpoint-mobile) {
    font-size: $font-size-12;
  }
}

.guide-hero-particles {
  position: relative;
  display: block;
  z-index: -10;

  @media (max-width: $breakpoint-tablet) {
    display: none;
  }

  img {
    position: absolute;
    top: 0;
    left: 0;
  }
}


////////////////
// Guide Body //
////////////////

$guide-sidebar-width: 225px;
$guide-sidebar-space: 100px;
$guide-center-width: 650px;

.guide-body-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-bottom: $spacing-64;
}

.guide-body-left {
  margin: 0;
  margin-right: $guide-sidebar-space;
  width: $guide-sidebar-width;

  @media (max-width: $breakpoint-tablet) {
    display: none;
  }

  nav {
    position: sticky;
    top: 50px;
  }

  h2 {
    margin: $spacing-16 0;
    margin-bottom: $spacing-32;

    color: $color-text-heading;
    font-family: $font-family;
    font-size: $font-size-16;
    font-weight: $font-weight-medium;
    letter-spacing: 1px;
  }

  ol {
    list-style: disc;
    color: $color-primary;
    margin: 0;
    padding: 0;
    padding-left: $spacing-16;
  }

  a {
    display: block;
    margin: $spacing-16 0;
    color: $color-text-body;
    text-decoration: none;

    font-family: $font-family;
    font-size: $font-size-16;
    font-weight: $font-weight-regular;

    &:hover {
      color: $color-text-heading;
    }
  }
}

.guide-body-center {
  width: $guide-center-width;
  box-sizing: border-box;
  
  @media (max-width: $breakpoint-mobile) {
    width: $guide-center-width + 2 * $spacing-24;
    max-width: 100%;
    padding: 0 $spacing-24;
  }
}

.guide-body-right {
  margin: 0;
  margin-left: $guide-sidebar-space;
  width: $guide-sidebar-width;

  @media (max-width: $breakpoint-tablet) {
    display: none;
  }
}


////////////////
// Guide Tags //
////////////////

.guide-tags {
  font-size: 0;

  h2 {
    margin: $spacing-16 0;

    color: $color-text-heading;
    font-family: $font-family;
    font-size: $font-size-16;
    font-weight: $font-weight-medium;
    letter-spacing: 1px;
  }

  .guide-tag {
    display: inline-block;
    padding: 4px 8px;
    margin-bottom: 8px;
    margin-right: 8px;
    
    border-radius: 3px;
    background: $color-primary-light;

    color: #835f00;
    font-family: $font-family;
    font-size: $font-size-14;
    text-decoration: none;

    // disable the link for now, since tag groups are not implemented
    pointer-events: none;
  }
}


/////////////////
// Sales Pitch //
/////////////////

.sales-pitch {
  border: 2px solid $color-primary;
  // border-radius: 3px;
  padding: $spacing-16;
  margin-top: $spacing-32;

  p {
    margin: 0;
    margin-bottom: $spacing-16;

    font-family: $font-family;
    font-size: $font-size-16;
    color: $color-text-body;
    font-weight: $font-weight-regular;
    line-height: 1.4;
  }

  a {
    display: flex;

    font-family: $font-family;
    font-size: $font-size-14;
    color: $color-text-over-primary;
    font-weight: $font-weight-medium;
    letter-spacing: 2px;
    text-decoration: none;

    .material-symbols-outlined {
      font-variation-settings: 'FILL' 0, 'wght' 600, 'GRAD' 0, 'opsz' 20;
      font-size: 14px;
      padding-left: 4px;
    }

    &:hover {
      color: $color-primary;
    }
  }
}


////////////////////
// Discord Invite //
////////////////////

.discord-invite {
  margin-top: $spacing-32;

  p {
    margin: 0;
    margin-bottom: $spacing-16;

    font-family: $font-family;
    font-size: $font-size-14;
    color: $color-text-body;
    font-weight: $font-weight-regular;
    line-height: 1.4;
    font-style: italic;
  }

  a {
    color: $color-text-heading;
    text-underline-offset: 0.2em;
    text-decoration-color: $color-primary;

    &:hover {
      color: $color-primary;
    }
  }
}
